@import './reset.css';
img,button{
    cursor: pointer;
}
#top{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 70px;
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content:space-between;
    z-index: 2;
}
html{
    background-color: rgb(248, 246, 246);
}
.yt{
    display:flex;
    width: 150px;
    height: 70px;
    align-items: center;
}
.ytitem1{
    display: inline-block;
    width: 20px;
    padding: 20px;  
}
.ytitem2{
    display: inline-block;
    width: 100px;
}
.sec{
    display:flex;
    align-items: center;
}
.s {
    width: 35vw;
    height: 10px;
    font-size: 16px;
    padding: 10px;
}
.sbutton{
    width: 70px;
    height: 34px;
}
.sea{
    width: 15px;
    height: 15px;
}
.mic{
    width: 25px;
    height: 25px;
    padding: 20px;
}
.ic{
    width: 25px;
    height: 25px;
    padding: 10px;
}
.user{
    width: 50px;
    height: 50px;
    padding: 20px;
}
.video{
    position: absolute;
    top: 100px;
    left: 100px;
}
.title{
    position: absolute;
    left: 100px;
    top: 625px;
}
.kk{
    display: flex;
    justify-content: space-between;
    width: 910px;
    height: 45px;
    border-bottom:1px rgb(216, 215, 215) solid;
}
.kk1{
    display: flex;
    align-items: center;
}
h1{
    font-size: 18px;
    font-family:sans-serif;
}
h2{
    font-size: 14px;
    font-family:sans-serif;
    color: rgb(99, 98, 98);
}
h3{
    font-size: 16px;
    font-family:sans-serif;
}
h4{
    font-size: 14px;
    font-family:sans-serif;
}
h5{
    font-size: 14px;
    font-family:sans-serif;
    color: rgb(107, 159, 255);
}
.kk2{
    display: flex;
    align-items: center;
    border-bottom:3px rgb(134, 134, 134) solid;
    height: 43px;
}
.mic1{
    width: 25px;
    height: 25px;
    padding: 15px;
}
.title1{
    position: absolute;
    display: flex;
    left: 100px;
    top: 700px;
    justify-content: space-between;
    width: 910px;
    height: 75px;
    border-bottom:1px rgb(216, 215, 215) solid;
}
.a{
    display:flex;
    padding: 5px;
    line-height: 24px;
}
#sb{
    background-color: crimson;
    font-size: 16px;
    color: rgb(255, 255, 255);
    width: 75px;
    height: 35px;
    border: 0px;
}
.aaa{
    position: relative;
    display: flex;
    left: 100px;
    top: 800px;
    width: 910px;
    align-items: center;
    line-height: 30px;
}
#vid{
    position: absolute;
    left: 1025px;
    top: 100px;
    width: 410px;
}
.videopic{
    width: 165px;
    height: 100px;
    padding: 5px;
}
.div{
    display: inline;
}
#inp{
    width: 815px;
    border: 0px;
    border-bottom: 1px rgb(216, 215, 215) solid;
    background-color:rgb(248, 246, 246) ;
}
#ss{
    padding: 15px;
}
.se{
    display:flex;
    align-items: center;
}
#ww{
    position: relative;
    left: 155px;
    top: 780px;
    width: 860px;
    line-height: 10px;
    display: flex;
    align-items: center;
}
#e{
    line-height: 25px;
}
/* 
    background-color: darkkhaki;
 */